<div>
    <p>{{localize "COMMUNITY_GALLERY.GalleryButtons.SettingHint"}}</p>
    {{#each documents}}
    <div class="form-group">
        <label>{{@key}}</label>
        <div class="form-fields">
            <input type="checkbox" name="{{@key}}" {{checked this}}>
        </div>
    </div>
    {{/each}}
</div>